.red{
	-fx-background-color: #ff5555;
}

.green{
	-fx-background-color: #94ff71;

}

.blue{
	-fx-background-color: #7371ff;
}

.yellow{
	-fx-background-color: #fffb71;
}

.boardMiddle{
	-fx-background-color: #FFFFFF;
}

.border{
	-fx-border-width: 1;
	-fx-border-color: black;
	-fx-border-style: solid;
}

.playerSettingsVertical{
	-fx-padding: 300 10 0 10;
}

.playerSettingsHorizontal{
	-fx-padding: 0 0 0 250;
}
.playerSettingsHorizontal Label{
	-fx-padding: 0 10 0 10;
}

BorderPane HBox > Square, BorderPane > VBox > Square, BorderPane HBox > SafetySquare, BorderPane VBox > SafetySquare{
	-fx-border-width: 1;
	-fx-border-color: black;
	-fx-border-style: solid;
}

.circle{
	/*rounded corners 100% to make circle*/
	-fx-background-radius: 100%;
	-fx-border-radius: 100%;
}

HomeSquare GridPane, StartSquare GridPane{
	-fx-alignment: center;
	/*this separates the 4 pawns and makes them take up the containing circle by adding a spacer/gap in the shape of a + sign in the middle*/
	-fx-hgap: 15;
	-fx-vgap: 15;
}

HomeSquare Text, StartSquare Text{
	-fx-font-weight: bold;
	-fx-font-size: 25;
}

#drawCards{
	-fx-pref-width: 200;
	-fx-pref-height: 50;
	-fx-background-color: #00ff00;

	-fx-border-width: 1;
	-fx-border-color: black;
	-fx-border-style: solid;
}

.cardPane{
	-fx-pref-width: 100;
	-fx-pref-height: 160;
	-fx-background-color: #fff0f5;
}

#drawPile VBox{
	-fx-alignment: center;
}

#drawLabel {
	-fx-font-weight: bold;
	-fx-font-size: 25;
}

#drawInstructions{
	-fx-font-size: 15;
}

#discardLabel {
	-fx-font-weight: bold;
}

.largeDiscardFont{
	-fx-font-size: 50;
}

.smallDiscardFont{
	-fx-font-size: 15;
}

#testingComponents{
	-fx-pref-width: 310;
}

#activePlayerColorDropdown{
	-fx-pref-width: 90;
}